.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
  }
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    
    &:hover{
      flex: 7;
    }
  }
  
  .item-1 {
    background-image: url("../assets/anniversary.jpg");
  }
  
  .item-2 {
    background-image: url("../assets/backpacking2.jpg");
  }
  
  .item-3 {
    background-image: url("../assets/kauai.jpg");
  }
  
  .item-4 {
    background-image: url("../assets/kauai2.jpg");
  }
  
  .item-5 {
    background-image: url("../assets/boston.jpg");
  }
  
  .item-6 {
    background-image: url("../assets/banana.jpg");
  }
  
  .item-7 {
    background-image: url("../assets/skiing.jpg");
  }
  
  .item-8 {
    background-image: url("../assets/bridge.jpg");
  }
  
  .item-9 {
    background-image: url("../assets/grand-central.jpg");
  }
  
  .item-10 {
    background-image: url("../assets/ny.jpg");
  }

  .item-11 {
    background-image: url("../assets/text.jpg");
  }
  
  .item-12 {
    background-image: url("../assets/text2.jpg");
  }
  
  .item-13 {
    background-image: url("../assets/text3.jpg");
  }
  
  .item-14 {
    background-image: url("../assets/text4.jpg");
  }
  
  .item-15 {
    background-image: url("../assets/text5.jpg");
  }
